* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.web-app-container {
    height: 100vh;
}

.train {
    height: 100%;
    background-image: url("../img/train.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 50px;
    border: 1px solid #000 ;
    border-radius: 50px;
}

.logo {
    width: 200px;
}

#age,
#distance,
#price {
    font-size: 2rem;
    color: #008000;
}

